<meta name='twitter:card' content='summary_large_image'>
<meta name='twitter:site' content='@aspirethemes'>
<meta name='twitter:creator' content='@aspirethemes'>
<meta name='twitter:title' content='{{ page.title }}'>
<meta name='twitter:description' content='{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>

{% if page.thumbnail %}
  <meta name='twitter:image' content='{{ site.url }}/{{page.thumbnail}}'>
{% endif %}

<meta property='og:title' content='{{ page.title }}'>
<meta property='og:type' content='website'>
<meta property='og:url' content='{{ site.url }}{{ page.url }}'>
{% if page.thumbnail %}
  <meta property='og:image' content='{{ site.url }}/{{page.thumbnail}}'>
{% endif %}
<meta property='og:description' content='{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>
<meta property='og:site_name' content='{{ site.title }}'>