// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #0077DB;
$color-white: #FFFFFF;
$color-text:  #323232;
$color-gray:  #5C7B89;

// Background Colors
$bg-gray: #F9FAFB;

// Border
$color-border: #ECF0F1;

// Links
$color-link:        $color-text;
$color-link-hover:  $color-brand;