/*------------------------------------*\
  Elements > code & pre
\*------------------------------------*/

$bg-code: #F0F0F0;

pre,
code {
  font-family: $font-code;
  font-size: $font-size-medium;
  background-color: $bg-code;
}

pre {
  overflow: auto;
  padding: double($base-spacing-unit);

  font-size: $font-size-medium;
  line-height: $line-height-medium;
  white-space: pre-wrap;
  word-wrap: break-word;
}

li code,
p code { padding: half(quarter($base-spacing-unit)) half($base-spacing-unit); }