/*------------------------------------*\
  Components > Accessibility (a11y)
\*------------------------------------*/

.c-a11y-skip-to-content {
  position: absolute;
  top: - triple($base-spacing-unit);
  left: half($base-spacing-unit);
  padding: quarter($base-spacing-unit) $base-spacing-unit;
  background-color: $color-white;
  transition: none;

  &:focus {
    top: half($base-spacing-unit) + $base-spacing-unit;
    text-decoration: none;
  }
}