/*------------------------------------*\
  Components > Heading
\*------------------------------------*/

// Heading with centered title and a border in the middle
//
// Example case:
//
// <h2 class='c-heading'>
//  <span class='c-heading__title'>Comments</span>
// </h2>

.c-heading {
  position: relative;
  margin: double($base-spacing-unit) 0;
  text-align: center;
  letter-spacing: 1px;
  font-size: $font-size-small;
  line-height: 0;

  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    content: '';
    border-bottom: 1px solid $color-border;
  }

  &__title {
    position: relative;
    z-index: 1;
    padding: 0 half($base-spacing-unit);
    color: $color-gray;
    background-color: $color-white;
  }
}