/*------------------------------------*\
  Components > Image Hero
\*------------------------------------*/

.c-image-hero {
  background-color: $bg-gray;
  margin-bottom: half($base-spacing-unit);
  transition: opacity $global-transition ease-in-out;

  &.js-fadein {
    opacity: 0;
  }

  &.is-inview {
    opacity: 1;
  }
}