/*------------------------------------*\
  Components > Journal Card
\*------------------------------------*/

.c-journal-card {
  margin: 0 auto;
  max-width: 700px;

  &__date {
    display: block;
    color: $color-gray;
    font-size: $font-size-small;
  }

  &__link {
    @include attention() {
      text-decoration: none;
    }
  }

  &__title {
    font-size: $font-size-h5;
    line-height: $line-height-base;
    transition: $global-transition;

    @include attention() {
      color: $color-brand;
    }
  }
}