---
layout: default
---

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4 o-grid__col--center'>
        <figure>
          <img src='{{ page.image }}'
                alt='Me at George Town - Malaysia / 100 days trip around Southeast Asia'
                class='c-image-hero js-fadein'>
          <figcaption>George Town - Malaysia / 100 days trip around Southeast Asia</figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4 o-grid__col--center'>

      <div class='c-post'>
        <div class='c-content'>
          {{ content }}
        </div>
      </div>

    </div>
  </div>
</div>